.header__logo {
 margin: 0 auto 0 0;
 padding: 0 0 41px/*4,65909090909091%*/;
}

@media all and (max-width: 880px) {
  .header__logo {
    padding: 0 0 41px/*4,65909090909091%*/ 19px/* 5.9375% */;
  }
}

@media all and (max-width: 425px) {
  .header__logo {
    width: 104px;
    height: 24px;
    padding: 0 0 31px/*9,6875%*/ 27px/* 8.4375% */;
  }
}
